[submodule "scripts-basicos"]
	path = scripts-basicos
	url = https://github.com/IgnacioKase/template-basico.git
[submodule "template-basico"]
	path = template-basico
	url = https://github.com/IgnacioKase/template-basico.git
